Source: simple-launcher
Section: unknown
Priority: extra
Maintainer: Mikhail Sobolev <mss@mawhrin.net>
Build-Depends: debhelper (>= 4)
Standards-Version: 3.7.2

Package: simple-launcher
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
